<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412682662842-9skh7se37rl5dp257q1oulqfkco77pfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412682662842-9skh7se37rl5dp257q1oulqfkco77pfg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412682662842-3ddvhdgcqma4g09f3bttdo0p0umhn90e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSOVcV4EyAiE6iE_BO1ZDI2HHd_Ccktq4</string>
	<key>GCM_SENDER_ID</key>
	<string>412682662842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>first.com.example</string>
	<key>PROJECT_ID</key>
	<string>techdrop-2d20d</string>
	<key>STORAGE_BUCKET</key>
	<string>techdrop-2d20d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412682662842:ios:199e7eb9472cfde5eba383</string>
	<key>DATABASE_URL</key>
	<string>https://techdrop-2d20d.firebaseio.com</string>
</dict>
</plist>